<div flexLayout="row" class="footerManu">
  <div fxFlex>
      <div>Company: SHOP</div>
      <ul>
          <li>We are one of the best shop</li>
          <li>A lot of sales price</li>
          <li>The best products</li>
      </ul>
  </div>
  <div fxFlex>
      <div>Info</div>
      <ul>
          <li>Phone: </li>
          <li>Email:</li>
          <li>Open hours: 7am-7pm</li>
      </ul>
  </div>
</div>
<div flexLayout="column" class="footerCopy">
Copy &copy; Shop 2023 All rights reserved.
</div>